# Name: Gowtham Krishna Sai Relangi
# Campus ID: GG33252

# Question 1: Critical Discussions on Foundations of Data Science

## Tasks

### 1. Integration of Disciplines:

Python is preferred since it is easier to learn and has powerful libraries which can be used for analysis, visualization and machine learning. Math is used to examine and observe datasets. Linear Algebra, Calculus and Probability are used together to perform mathematical calculations on the data sets to make it compatible for analysis. Furthermore, statistics are used to identify patterns, relationships and trends in large data sets and is used to interpret results. Implementing libraries in python, carrying out mathematical and statistical calculations on the customer dataset in an organization, we can develop a recommendation system by using ML algorithms.

### 2. Practical vs Theoretical Understanding:

Learning a new technology, method or a skill may be required in our day-to-day work life. Gaining a new knowledge can be carried out in two ways, theoretical learning and practical learning.<br>
Practical learning means gaining the knowledge by hands on experience. Practical learning has few advantages. One can be perfect in the task that he is assigned to by practicing the skills in action. Practical experience guarantees one has a profound knowledge in the skill that he trained on. Also, by implementing practical learning, one can learn from the mistakes. In addition, practical learning builds teamwork skills and helps the person to have a strong communication and soft skills.
But solely depending on the practical learning will affect the foundational skills of a person and will hinder in the career development process in the long run.<br>
Theoretical learning is deriving knowledge by means of reading, thinking, listening or watching. Theoretical learning teaches the techniques, theorems and foundation knowledge for a particular skill. By practicing this method one can be proficient in the fundamental concepts of the respective skill.
The main drawback of theoretical learning is that we cannot find the flaws that are included with it. Also, by just having an theoretical knowledge it might be difficult to implement the project in an effective way for which practical experience comes in hand.<br>
To conclude, Practical and theoretical learning works together. One cannot be successful in the career by depending solely on one learning method.

### 3. Challenges and Strategies:

To begin with, becoming a data scientist requires various number of skills. Therefore, it might be difficult to acquire all the skills while starting from the scratch. Hence, we need to prioritize the core and fundamental skills that are required and learn those skills at first before moving to more advanced topics like machine learning.<br>
Secondly, handling unorganized and irrelevant large data sets might be a tedious task. To overcome this issue, we need to learn the efficient ways to handle data. Practicing data processing to clean data, data visualization for analysis on different datasets will help to learn and understand these methods.<br>
Thirdly, choosing the right machine learning algorithm might be a challenge. Therefore, one should have a proper understanding of the machine learning algorithms before its use.<br>
At last, to be a successful data scientist one should be proficient in math and statistics. Lack of statistical skills might hamper the analysis of the dataset and becomes difficult to comprehend the insights from the data set. Hence one should learn statistics before analysing the data.

### 4. Ethical Considerations:

Strong foundation in Python, mathematics and statistics provides the methodologies and knowledge for handling ethical decision- making in data science.<br>
By implementing and analysing algorithms with strong python skills helps data scientists to identify and reduce the biases in the dataset and model. We can design fair algorithms by utilising strong mathematical and statistical skill and create models that are produce less biased outcomes.<br>
Python allows us to build transparent models which makes it easier to describe the decisions to the stakeholders. By using statistics and math we can create our data to be comprehensible and can create accurate models.<br>
By using python we can manage and process data in a secured manner. Also, we can create clear and brief documentation using python, which holds the transparency while conveying the decisions with the stakeholders.

# Question 2: Sharing GitHub profile and Repository

## Self Introduction

Greeting! I'm Gowtham Krishna Sai Relangi. I am from India. I completed my bachelors in Computer Science Engineering from Sathyabama University. I worked as a programming analyst trainee at Cognizant where I worked on Informatica, IBM Cognos, SQL, SSIS and SSAS. I am very much intrested on the ways the data can be used to solve critical business problems. Eager to learn data science methodologies and build machine learning models for finding solutions to complex situations. My hobies include travellig, riding motorbikes.

## Links for my GitHub profile and Data 601 repository

* GitHub Profile --> https://github.com/Relangi-Gowtham
* Data 601 Repository --> https://github.com/Relangi-Gowtham/DATA601

# Question 3: Python Data Structure Manipulation

## Task 1: Hypothetical Dataset Challenge

### 1. Dataset Creation:

In [100]:
students = [
    {"name": "Alice", "id": 1, "grades": [88, 92, 85]}, #Creating a students data using lists and dictionary
    {"name": "Bob", "id": 2, "grades": [76, 90, 83]},
    {"name": "Clara", "id": 3, "grades": [91, 85, 89]}
]

### 2. Data Manipulation Tasks

#### Calculating the average of the grades for each student

In [101]:
for student in students:
    marks=student["grades"] #taking all the grades of each student and storing in marks list.
    sum_grades = sum(marks) # finding the sum of all the grades of the student
    total_no_grades = len(marks) # calculating no of grades for each student
    avg = sum_grades/total_no_grades # calculatiing average by total sum divided by no of grades.
    student['Average_grade'] = round(avg,2) # round function will round up the value upto 2 decimals.
    print(student)

{'name': 'Alice', 'id': 1, 'grades': [88, 92, 85], 'Average_grade': 88.33}
{'name': 'Bob', 'id': 2, 'grades': [76, 90, 83], 'Average_grade': 83.0}
{'name': 'Clara', 'id': 3, 'grades': [91, 85, 89], 'Average_grade': 88.33}

In [102]:
students

[{'name': 'Alice', 'id': 1, 'grades': [88, 92, 85], 'Average_grade': 88.33},
 {'name': 'Bob', 'id': 2, 'grades': [76, 90, 83], 'Average_grade': 83.0},
 {'name': 'Clara', 'id': 3, 'grades': [91, 85, 89], 'Average_grade': 88.33}]

#### Creating a list of passed students( passing grade is 70)

In [103]:
students_passed = [
    student
    for student in students
    if student['Average_grade']>=70 # using if-condition to check if grade is more than 69
]
for student in students_passed:
    print(student)

{'name': 'Alice', 'id': 1, 'grades': [88, 92, 85], 'Average_grade': 88.33}
{'name': 'Bob', 'id': 2, 'grades': [76, 90, 83], 'Average_grade': 83.0}
{'name': 'Clara', 'id': 3, 'grades': [91, 85, 89], 'Average_grade': 88.33}

In [104]:
students_passed

[{'name': 'Alice', 'id': 1, 'grades': [88, 92, 85], 'Average_grade': 88.33},
 {'name': 'Bob', 'id': 2, 'grades': [76, 90, 83], 'Average_grade': 83.0},
 {'name': 'Clara', 'id': 3, 'grades': [91, 85, 89], 'Average_grade': 88.33}]

#### Creating search function to retrive student based on ID

In [105]:
def search_student(ID, student_lists):
    for student in student_lists:
        if student['id'] == ID: # Comparing ID to retrive student
            return student
    return None

ID_to_search = int(input('Type the student ID to search\n')) # int is used to type cast the input as input will be taken as string
Student_record = search_student(ID_to_search, students)
if Student_record:
    print(f"The retrived student record is \n {Student_record}") # using if-else statements to print the student record.
else: 
    print("No student record is found.")

Type the student ID to search
1
The retrived student record is
 {'name': 'Alice', 'id': 1, 'grades': [88, 92, 85], 'Average_grade': 88.33}

## Task 2: Public Dataset Challenge

In [106]:
import pandas as pd 
import numpy as np

### 1. Dataset Acquisition

In [107]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris_data = pd.read_csv(url, names=column_names)

In [108]:
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [109]:
iris_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 2. Data Manipulation Tasks

#### Categorize each iris plant into 'small', 'medium', or 'large' based on sepal length

In [110]:
iris_data['iris_category'] = ''
df1 = iris_data
medium_threshold = 6.0
min_threshold = 5.0


for index,row in iris_data.iterrows(): # iterrows() in pandas is used to iterate through the data frame 
    if row['sepal_length'] <= min_threshold:
        df1.at[index, 'iris_category'] = "small" # categorizing plants using the min and medium thresholds with if-else stmts.
    elif row['sepal_length'] <= medium_threshold:
        df1.at[index,  'iris_category'] = "medium"
    else:
        df1.at[index, 'iris_category'] = "large"
print(df1)

     sepal_length  sepal_width  petal_length  petal_width           class  \
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

    iris_category
0          medium
1           small
2           small
3           small
4           small
..            ...
145         large
146         large
147         large
148         large
149        medium

[150 rows x 6 columns]

#### Creating a new dictionary with unique keys and value as avg of petal_widths

In [111]:
avg_petal_width = {}
for class_type, group in df1.groupby('class'): # groupby() is used to get unique values from the column "class"
    avg_petal_width[class_type] = group['petal_width'].mean().round(2) # stores unique values in class_type & access records by group variable.
print(avg_petal_width)

{'Iris-setosa': 0.24, 'Iris-versicolor': 1.33, 'Iris-virginica': 2.03}

#### Creating list with ratios of Sepal length and Sepal width

In [112]:
ratio_list=[]
for index, row in df1.iterrows():
    ratio = round(row['sepal_length']/row['sepal_width'], 2) # rounding up the ratios upto two decimals.
    ratio_list.append(ratio)
print(ratio_list)

[1.46, 1.63, 1.47, 1.48, 1.39, 1.38, 1.35, 1.47, 1.52, 1.58, 1.46, 1.41, 1.6, 1.43, 1.45, 1.3, 1.38, 1.46, 1.5, 1.34, 1.59, 1.38, 1.28, 1.55, 1.41, 1.67, 1.47, 1.49, 1.53, 1.47, 1.55, 1.59, 1.27, 1.31, 1.58, 1.56, 1.57, 1.58, 1.47, 1.5, 1.43, 1.96, 1.38, 1.43, 1.34, 1.6, 1.34, 1.44, 1.43, 1.52, 2.19, 2.0, 2.23, 2.39, 2.32, 2.04, 1.91, 2.04, 2.28, 1.93, 2.5, 1.97, 2.73, 2.1, 1.93, 2.16, 1.87, 2.15, 2.82, 2.24, 1.84, 2.18, 2.52, 2.18, 2.21, 2.2, 2.43, 2.23, 2.07, 2.19, 2.29, 2.29, 2.15, 2.22, 1.8, 1.76, 2.16, 2.74, 1.87, 2.2, 2.12, 2.03, 2.23, 2.17, 2.07, 1.9, 1.97, 2.14, 2.04, 2.04, 1.91, 2.15, 2.37, 2.17, 2.17, 2.53, 1.96, 2.52, 2.68, 2.0, 2.03, 2.37, 2.27, 2.28, 2.07, 2.0, 2.17, 2.03, 2.96, 2.73, 2.16, 2.0, 2.75, 2.33, 2.03, 2.25, 2.21, 2.03, 2.29, 2.4, 2.64, 2.08, 2.29, 2.25, 2.35, 2.57, 1.85, 2.06, 2.0, 2.23, 2.16, 2.23, 2.15, 2.12, 2.03, 2.23, 2.52, 2.17, 1.82, 1.97]